*{
    margin: 0;
    padding: 0;
}
.logo{
    background-color: bisque;
    text-align: center;
    float: left;
    width: 40%;
    height: 80px;
}
.banner{
    background-color: rgb(184, 233, 236);
    text-align: center;
    float: left;
    width: 60%;
    height: 80px;
}
.head{
    overflow: hidden;
}
.bar{
    background-color: rgb(231, 163, 154);
    text-align: center;
    height: 70px;
}
.blank{
    background-color: bisque;
    height: 50px;
}
.block{
    overflow: hidden;
}
.left{
   background-color: rgb(151, 178, 228);
   text-align: center;
   height: 500px;
   width: 25%;
   float: left;
}
.mid{
   height: 500px;
   width: 50%;
   float: left;
   overflow: hidden;
}
.cblocks{
    background-color: rgb(203, 241, 153);
    height: 150px;
    text-align: center;
}
.cmid{
    height: 200px;
    overflow: hidden;
}
.cleft{
    background-color: rgb(137, 223, 137);
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}
.cright{
    background-color: rgb(186, 245, 186);
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}
.module{
    background-color: plum;
    height: 150px;;
    text-align: center;
}
.right{
    background-color: rgb(151, 178, 228);
    text-align: center;
    height: 500px;
    width: 25%;
    float: right;
}
.blank2{
    background-color: bisque;
    height: 50px;
}
.bottom{
    background-color: darkseagreen;
    text-align: center;
    height: 70px;
}